body{
    background-color: rgb(236, 236, 236);
}

.main{
    background-color: #ffffff;
    margin: 40px;
    height: auto;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.comment{
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .ico{
    margin:8px 1px 8px 10px;
    font-size: 18px;
}

.menu .comments:hover{
    color: #3277b0;
}
.menu .active{
    color: #3277b0;
}

.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
}

.sub-comments{
    border: #d6d6d6 1px solid;
    padding-top: 10px;
    margin-bottom: 10px;
}

.comment-img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body{
    padding-left: 10px;
    padding-top: 13px;
}

.comment-font{
    font-size: 17px;
}

.question-tag{
    margin-right: 6px;
}

.question-related{
    line-height: 28px;
    font-size: 16px;
    margin-left: 5px;
    list-style: none;
    padding-left: 1px;
}

.tab-style{
    padding: 5px;
}

.label-style{
    margin-left: 7px;
    margin-right: 7px;
    line-height: 30px;
    white-space: normal;
}