body{
    background-color: rgb(236, 236, 236);
}

.main{
    background-color: #ffffff;
    margin: 40px;
    height: auto;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    color: #999;
}
