<!DOCTYPE html>
<html lang="en">

<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>删除的问题</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>



<div th:insert="~{footer :: foot}"></div>
</body>
</html>