<!DOCTYPE html>
<html lang="en">

<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>社区首页</title>
</head>
<!--<script type="application/javascript">-->
<!--    let closable = window.localStorage.getItem("closable")-->
<!--    if (closable === "true"){-->
<!--        window.close()-->
<!--        window.localStorage.removeItem("closable")-->
<!--    }-->
<!--</script>-->

<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-list" th:text=" ' '+'发现'" aria-hidden="true"></span></h2>
            <h3><span th:if="${tag} != null" th:text="'当前标签：'+ ${tag}"></span></h3>
            <div class="btn-group" role="group" aria-label="..." style="float: right">
                <button type="button" onclick=questionsort(this) th:type="1" th:search="${search}" th:tag="${tag}" th:style="${type == null || type == 1} ? 'color: #2aabd2' : '' " class="btn btn-default">按时间排序</button>
                <button type="button" onclick=questionsort(this) th:type="2" th:search="${search}" th:tag="${tag}" th:style="${type == 2} ? 'color: #2aabd2' : '' " class="btn btn-default">按喜欢数排序</button>
                <button type="button" onclick=questionsort(this) th:type="3" th:search="${search}" th:tag="${tag}" th:style="${type == 3} ? 'color: #2aabd2' : '' " class="btn btn-default">按收藏数排序</button>
            </div>
            <hr>
            <div class="media" th:each="question : ${pagination.data}">
                <div style="padding: 5px 10px 20px;border-bottom: 1px solid #e8e8e8;">
                    <div class="media-left">
                    <a href="#">
                        <img style="width: 70px;height: 70px;" class="media-object img-circle" src="https://tvax1.sinaimg.cn/thumbnail/007E7MVRly1h68twaikmyj30jt0juabj.jpg" alt="">
                    </a>
                    <span th:text="${question.user.name}" style="color: #000000;font-size: medium;text-align: center;display: block"></span>
                </div>
                    <div class="media-body " style="padding-left: 30px;">
                        <h3 class="media-heading">
                            <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                        </h3>
                        <a th:href="@{'/question/'+ ${question.id}}"  th:text="${question.description}" style="color: #0f0f0f;font-size: 16px"></a>
                        <br>
                        <br>
                        <span class="text-desc"> <span th:text="${question.comment_count}"></span>个回复 · <span th:text="${question.view_count}"></span>
                        次浏览 · <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd')}"></span> 创建</span>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation" style="display: block;text-align: center">
                <ul class="pagination">
<!--                    第一页-->
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,type=${type},search=${search},tag=${tag})}"aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
<!--                    上一页-->
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},type=${type},search=${search},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
<!--                    页码列表取页码并高亮-->
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page} ? 'active' : ''">
                        <a th:href="@{/(page=${page},type=${type},search=${search},tag=${tag})}" th:text="${page}"></a>
                    </li>
<!--                    下一页-->
                    <li th:if="${pagination.showNext}" >
                        <a th:href="@{/(page=${pagination.page + 1},type=${type},search=${search},tag=${tag})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
<!--                    最后一页-->
                    <li th:if="${pagination.showEndPage}">
                    <a th:href="@{/(page=${pagination.totalPage},type=${type},search=${search},tag=${tag})}" aria-label="Last">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>

                </ul>
            </nav>
        </div>

<!--        右边-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
<!--            相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 style="margin-bottom: 20px">热门问题</h3>
                <ul class="question-related">
<!--                    <li th:each="tag : ${tags}">-->
<!--                        <span class="label label-info question-tag" style="margin: 10px">-->
<!--                            <span class="glyphicon glyphicon-tag"></span>-->
<!--                            <a th:href="@{/(page=${page},tag=${tag})}" class="label label-info" th:text="${tag}"></a>-->
<!--                        </span>-->
<!--                    </li>-->
                </ul>
                <h3 style="margin-bottom: 20px">热门标签</h3>
                <ul class="question-related">
                    <li th:each="tag : ${tags}" style="margin: 10px">
                        <span class="label label-info question-tag">
                            <span class="glyphicon glyphicon-tag"></span>
                            <a th:href="@{/(page=${page},tag=${tag})}" class="label label-info" th:text="${tag}"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>