<!DOCTYPE html>
<html lang="en">

<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container" style="width:auto;height: 1000px;background-image:url(https://tvax4.sinaimg.cn/large/007E7MVRly1h78gvphsm4j30xc0hljrs.jpg);
background-size:1900px,1900px;background-repeat:no-repeat;z-index:1">
    <div style="width: 500px;margin: 100px auto 0 auto;height: 500px;border: 1px solid #ccc;
        border-radius: 5px;box-shadow:#ccc 0 0 10px;z-index:10;backdrop-filter: blur(3px)" >
        <div style="margin-top: 30px;text-align:center;">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="text-center" style="margin-top:80px;color:#ffffff;-webkit-text-stroke:1px #000000">欢迎登录</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="/loginuser" method="post">
                        <div class="form-group">
                            <label for="exampleInputNumber" style="margin-top:30px;color: #55d2ff">账号</label>
                            <input name="number"  class="form-control" id="exampleInputNumber" placeholder="请输入账号" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" style="color: #55d2ff">密码</label>
                            <input  type="password"  name="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" required>
                        </div>

                        <div class="clearfix"></div>
                        <button class="btn btn-danger col-sm-6" style="margin-top:10px;" type="submit">登录</button>
                    </form>
                    <button class="btn btn-info col-sm-4 col-sm-offset-2" style="margin-top:10px"
                            type="button" onclick="window.location.href='/registration'">注册账号
                    </button>
                </div>
                <button type="button" onclick="window.location.href='/admin'" style="float: right;margin-top: 50px;margin-right: 50px;"
                        class="btn btn-default">管理员登录
                </button>
            </div>

        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>