<!DOCTYPE html>
<html lang="en">
<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>

<script>
    function modifyFace() {
        document.querySelector('#face').hidden = "";
    }

    function modifyName() {
        document.querySelector('#name').type = "text";
        document.querySelector('#submit').hidden = "";
    }

    function modifyDescription() {
        document.querySelector('#description').hidden = "";
        document.querySelector('#submit').hidden = "";
    }

    function modifyPassword() {
        document.querySelector('#password').hidden = ""
        document.querySelector('#submit').hidden = "";
    }

    function submit(){
        var form = document.getElementById("form")
        form.submit();
    }
</script>

<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-user" th:text=" ' '+'我的信息'" aria-hidden="true"></span></h2>
            <hr>

            <div style="width: 60%;margin-left: 25%">
                    <div style="margin-top: 30px;margin-bottom: 20px">
                        <span style="font-size: 20px">头像：</span>
                        <img style="width: 70px;height: 70px;margin-left: 40%;margin-bottom: 10px" class="media-object img-circle" th:src="${user.face}" alt="">
                        <a onclick="modifyFace()" class="pointer" style="float: right;font-size: 17px">修改头像</a>
                        <div id="face" hidden="hidden">
                            <form method="post" action="/file/uploadFace" enctype="multipart/form-data">
                                <span>注：文件名不能包含中文 且格式为.jpg .png .jpeg 大小不超过1M 最好为正方形图片</span>
                                <input type="file" name="file"><br>
                                <button type="submit" style="position: absolute;width:60px;height:30px">提交</button>
                            </form>
                        </div>
                    </div>

                <form action="/userProfile" method="post" id="form">
                    <div style="padding-top: 30px;margin-bottom: 30px">
                        <div style="margin-bottom: 10px;padding-top: 25px;">
                            <span style="font-size: 20px;float: none;margin-right: 30%;">账号：</span>
                            <span style="font-size: 25px;" th:text="${user.number}"></span>
                        </div>
                        <br>
                        <div style="margin-bottom: 20px">
                            <span style="font-size: 20px;float: none;margin-right: 30%">名字： </span>
                            <span style="font-size: 25px;" th:text="${user.name}"></span>
                            <a onclick="modifyName()" class="pointer" style="float: right;font-size: 17px;padding-top: 7px">修改姓名</a>
                            <input name="name" id="name" type="hidden" class="form-control" style="width: 50%;margin-left: 25%" placeholder="请输入新名字" aria-describedby="basic-addon1" required>
                        </div>
                        <br>
                        <div style="margin-bottom: 20px">
                            <span style="font-size: 20px;">自我描述：</span>
                            <div style="padding-left: 30px;padding-right: 30px;padding-top:5px;font-size: 22px">
                                <span th:text="${user.description}"></span>
                                <a onclick="modifyDescription()" class="pointer" style="float: right;font-size: 17px;padding-top: 7px">修改简介</a>
                                <div>
                                    <textarea hidden="hidden" name="description" id="description" cols="60" rows="5" placeholder="请输入新简介" required></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div style="margin-bottom: 20px">
                            <div style="margin-top: 20px;margin-left: 10px">
                                <span th:text="'问题数：' + ${userCount.questionCount}" style="font-size: 20px"></span>
                            </div>
                            <div style="margin-top: 20px;margin-left: 10px">
                                <span th:text="'获赞数：' + ${userCount.questionLikedCount}" style="font-size: 20px"></span>
                            </div>
                            <div style="margin-top: 20px;margin-left: 10px">
                                <span th:text="'被收藏数：' + ${userCount.questionStaredCount}" style="font-size: 20px"></span>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div>
                            <a class="pointer" onclick="modifyPassword()" style="font-size: 20px;margin-bottom: 10px">修改密码</a>
                            <div id="password" hidden="hidden">
                                <input name="oldPassword" id="oldPassword" type="password" class="form-control" style="width: 50%;margin-left: 25%;margin-bottom: 5px" placeholder="请输入旧密码" aria-describedby="basic-addon1" required>
                                <input name="newPassword1" id="newPassword1" type="password" class="form-control" style="width: 50%;margin-left: 25%;margin-bottom: 5px" placeholder="请输入新密码（不小于6位）" aria-describedby="basic-addon1" required>
                                <input name="newPassword2" id="newPassword2'" type="password" class="form-control" style="width: 50%;margin-left: 25%;margin-bottom: 5px" placeholder="请再次输入新密码（不小于6位）" aria-describedby="basic-addon1" required>
                            </div>
                        </div>
                    </div>
                    <div hidden="hidden" id="submit">
                    <button style="float: right;margin-bottom: 10px;margin-right: 20px" onclick="submit()" type="submit" class="btn btn-success">提交修改</button>
                    </div>
                </form>
            </div>

        </div>
        <!--        右边-->
        <div th:insert="~{profileRight :: pr}"></div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>