<!DOCTYPE html>
<html lang="en">
<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-user" th:text=" ' '+'我的信息'" aria-hidden="true"></span></h2>
            <hr>

            <div style="width: 60%;margin-left: 25%">
                <form action="/personal" method="post">
                    <div style="margin-top: 30px;margin-bottom: 10px">
                        <span style="font-size: 20px">头像：</span>
                        <img style="width: 70px;height: 70px;margin-left: 40%;margin-bottom: 10px" class="media-object img-circle" src="https://tvax1.sinaimg.cn/thumbnail/007E7MVRly1h68twaikmyj30jt0juabj.jpg" alt="">
                        <a onclick="" class="pointer" style="float: right;font-size: 17px">修改头像</a>
                    </div>
                    <div style="padding-top: 30px;margin-bottom: 30px">
                        <div style="margin-bottom: 10px;padding-top: 25px;">
                            <span style="font-size: 20px;float: none;margin-right: 30%;">账号：</span>
                            <span style="font-size: 25px;">1234567</span>
                        </div>
                        <br>
                        <div style="margin-bottom: 10px">
                            <span style="font-size: 20px;float: none;margin-right: 30%">名字： </span>
                            <span style="font-size: 25px;">test1</span>
                            <a onclick="" class="pointer" style="float: right;font-size: 17px;padding-top: 7px">修改姓名</a>
                            <input name="name" id="name" type="hidden" class="form-control" placeholder="请输入新名字" aria-describedby="basic-addon1">
                        </div>
                        <br>
                        <div style="margin-bottom: 10px">
                            <span style="font-size: 20px;">自我描述：</span>
                            <div style="padding-left: 30px;padding-right: 30px;padding-top:5px;font-size: 22px">
                                <span>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                                </span>
                            </div>
                        </div>
                        <br>
                        <a class="pointer" style="font-size: 20px;margin-bottom: 10px">修改密码</a>
                    </div>
                </form>
            </div>

        </div>
        <!--        右边-->
        <div th:insert="~{profileRight :: pr}"></div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>