<!DOCTYPE html>
<html lang="en">
<!--<script src="/lib/jquery-3.6.1.js"></script>-->
<!--<link rel="stylesheet" href="/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css">-->
<!--<link rel="stylesheet" href="/css/community.css">-->
<!--<script src="/js/bootstrap.min.js" type="application/javascript"></script>-->

<script src="../lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../css/community.css">
<script src="../js/bootstrap.min.js" type="application/javascript"></script>

<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-user" th:text=" ' '+'我的信息'" aria-hidden="true"></span></h2>
            <hr>

            <div style="width: 60%">
                <form action="/personal" method="post">
                    <div>
                        <span>头像：</span>
                    </div>
                    <div>
                        <span>账号： </span>
                        <br>

                    </div>
                </form>
            </div>

        </div>
        <!--        右边-->
        <div th:insert="~{profileRight :: pr}"></div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>