<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>

<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="/"><img style="padding: 5px 5px 10px 3px;" class="navbar-brand pointer"
                                 src="https://tvax1.sinaimg.cn/large/007E7MVRly1h7om1756jsj305m018jr9.jpg" alt=""/>
                </a>
                <a class="navbar-brand" href="/">首页</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" id="search" placeholder="请输入想要搜索的问题" required>
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>


                <div class="btn-group" style="margin-top: 6px;margin-left: 15px">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        用户搜索 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form navbar-left" action="/searchUser" method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="searchName" id="searchName" placeholder="请输入想要搜索的用户名" required>
                                </div>
                                <button type="submit" style="float: right;margin-top: 7px" class="btn btn-default">搜索用户</button>
                            </form>
                        </li>
                    </ul>
                </div>


                <a class="btn btn-default" style="font-size: 17px;margin-top: 6px;margin-left: 200px;color: #ff2e4b" href="/hotQuestion/1" role="button">
                    <span class="glyphicon glyphicon-fire pointer"></span>
                    热门问题
                </a>

                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" style="padding-top: 7px;padding-bottom: 7px;margin-top: 5px;margin-left: 50px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        学科分区 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="margin-left: 20px">
                        <li><a href="/?tag=哲学" style="text-align: center"> 哲学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=经济学" style="text-align: center">经济学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=法学" style="text-align: center">法学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=教育学" style="text-align: center">教育学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=文学" style="text-align: center">文学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=历史学" style="text-align: center" >历史学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=理学" style="text-align: center">理学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=工学" style="text-align: center">工学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=农学" style="text-align: center">农学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=医学" style="text-align: center">医学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=管理学" style="text-align: center">管理学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=艺术学" style="text-align: center">艺术学</a></li>
                        <li role="separator" class="divider" style="margin-top: 1px;margin-bottom: 1px"></li>
                        <li><a href="/?tag=军事学" style="text-align: center">军事学</a></li>
                    </ul>
                </div>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href='/login' th:if="${session.user == null && session.admin == null}" style="font-size: 18px" >登录</a></li>
                    <li th:if="${session.user != null}"><button type="button" onclick="window.location.href='/publish'" class="btn btn-primary" style="margin-right: 20px;margin-top: 10px">发布问题 +</button></li>
                    <li th:if="${session.user != null}"><a href="/profile/replies"><span class="glyphicon glyphicon-bell"></span> 通知 </span><span class="badge" th:text="${session.unreadCount}"></span></a></li>
                    <li th:if="${session.user != null}"><img style="width: 33px;height: 33px;margin-top: 8px;margin-left: 15px;" class="media-object img-circle" th:src="${session.user.face}" alt=""></li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: auto"><span th:text="${session.user.getName()}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/personal">个人资料</a></li>
                            <li><a href="/star">我的收藏</a></li>
                            <li><a href="/profile/questions">我的提问</a></li>
                            <li><a href="/profile/replies">最新回复</a></li>
                            <li role="separator" class="divider" style="margin-top: 2px;margin-bottom: 2px"></li>
                            <li><a style="color: blue" href='/logOut'>退出登录</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.admin != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: auto"><span th:text="${session.admin.name}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/userManagement">用户管理</a></li>
                            <li><a href="/adminDeletes">删除的问题与评论的通知</a></li>
                            <li><a href="/publicAnnouncement">发布公告</a></li>
                            <li role="separator" class="divider" style="margin-top: 2px;margin-bottom: 2px"></li>
                            <li><a style="color: blue" href='/logOutAdmin'>退出管理员</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>