<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="pr">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group" style="margin-top: 40px;margin-left: 10px">
            <a href="/personal" th:class="${section == 'personal'}? 'active list-group-item' : 'list-group-item'">个人资料</a>
            <a href="/stars" th:class="${section == 'star'}? 'active list-group-item' : 'list-group-item'">我的收藏</a>
            <a href="/profile/questions" th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我的提问</a>
            <a href="/profile/replies" th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">
                最新回复
                <span class="badge" th:text="${session.unreadCount}"></span>
            </a>
        </div>
    </div>
</div>
</body>
</html>