    <!DOCTYPE html>
<html lang="en">

<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<link rel="stylesheet" href="/css/editormd.min.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>
<script src="/js/editormd.min.js" type="application/javascript"></script>

<script type="text/javascript">
    <!--                    添加图片-->
    $(function() {
        let editor = editormd("question-editor", {
            width  : "95%",
            height : 450,
            emoji     : false,
            path   : "/js/lib/",
            delay  : 0,
            watch  : false,
            placeholder : "请输入问题描述",
            imageUpload    : true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/file/upload",
        });
    });
</script>

<head>
    <meta charset="UTF-8">
    <title>发起问题</title>
</head>


<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" th:if="${id == 0}" th:text=" ' '+发起问题" aria-hidden="true"></span></h2>
            <h2><span class="glyphicon glyphicon-pencil" th:if="${id != 0}" th:text=" ' '+修改问题" aria-hidden="true"></span></h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" id="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">标题(问题简述)</label>
                    <input name="title" type="text" class="form-control" th:value="${title}" id="title" placeholder="标题" required>
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题内容(必填)</label>
                    <textarea name="description" id="description" cols="30" rows="10" th:text="${description}"
                              style="display: none;" class="form-control" required></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input name="tag" type="text" class="form-control" autocomplete="off" th:value="${tag}" id="tag" onclick="showSelectTag()"
                           placeholder="输入标签并以 ，号分隔" required>
                    <div style="padding: 10px;width: 77%;display: none" id="select-tag">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat : ${tags}" th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-style" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory : ${tags}" th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span class="label label-info label-style" th:each="selectTag : ${selectCategory.tags}">
                                        <a class="glyphicon glyphicon-tags pointer" th:text="${' '+selectTag}" onclick="selectTag(this)"
                                           th:data-tag="${selectTag}" style="color: #ffffff;"></a>
                                </span>
                            </div>
                        </div>
                        <div style="padding-left: 10px;margin-top: 5px">
                            <span>点击上方默认标签 自动加入标签栏 自定义标签请用逗号（中文）隔开</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" th:if="${id == 0}" style="float: right;margin-right: 10px;margin-bottom: 10px">发布</button>
                <button type="submit" class="btn btn-success" th:if="${id != 0}" style="float: right;margin-right: 10px;margin-bottom: 10px">确定修改</button>
            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 th:if="${id == 0}" th:text="问题发起指南"></h3>
            <h3 th:if="${id != 0}" th:text="问题修改指南"></h3>
            <hr>
            <br>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过40字<br>
            <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            <br>
            • 选择标签: 选择一个或者多个合适的标签（可以自定义标签），用逗号（中文）隔开，每个标签不超过10个字<br>
            <br>
        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>