<!DOCTYPE html>
<html lang="en">

<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<link rel="stylesheet" href="/css/editormd.preview.min.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/moment.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>
<script src="/js/editormd.min.js" type="application/javascript"></script>
<script src="/js/lib/marked.min.js"></script>
<script src="/js/lib/prettify.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">

        <!-- 左边信息栏-->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="padding-left: 50px;padding-top: 20px;padding-right: 80px">
<!--            标题栏-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!--            标题-->
            <h2><span th:text="${question.title}"></span></h2>
            <span class="text-desc">作者： <span th:text="${question.user.name}"></span>&nbsp&nbsp|&nbsp发布时间： <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd')}"></span>&nbsp&nbsp|&nbsp阅读数： <span th:text="${question.view_count}"></span></span>
<!--            描述内容-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view" style="font-size: 17px">
                <textarea style="display: none;" th:text="${question.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function (){
                    editormd.markdownToHTML("question-view",{});
                });
            </script>
<!--            标签-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: auto;padding-right: 0">
                <div style="width: 80%;float: left;padding-right: 18px">
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split('，')}">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="label label-info" th:text="${tag}"></span>
                </span>
                </div>
                <div style="width: 20%;float: right">
<!--                    问题点赞-->
                    <span th:if="${session.user == null}"  class="question-like" onclick="noLogin()">
                        <span class="glyphicon glyphicon-ok ico"><span style="font-size: 19px">好问题</span></span>
                        <span th:text="${question.like_count}" style="font-size: 19px;"></span>
                    </span>
                    <span th:if="${session.user != null}" th:data-id="${question.id}" class="question-like" onclick="like(this)" th:value="${session.user.uid}">
                        <span th:class="${#lists.contains(questionLikesId,question.id)} ? 'glyphicon glyphicon-ok ico question-liked' : 'glyphicon glyphicon-ok ico'" th:id="${'like-'+question.id}"><span style="font-size: 19px">好问题</span></span>
                        <span th:text="${question.like_count}" style="font-size: 19px;"></span>
                    </span>
<!--                    问题收藏-->
                    <span th:if="${session.user == null}"  class="question-like" style="float: right" onclick="noLogin()">
                        <span class="glyphicon glyphicon-star-empty ico"><span style="font-size: 19px">收藏</span></span>
                        <span th:text="${question.star_count}" style="font-size: 19px;"></span>
                    </span>
                    <span th:if="${session.user != null}" th:data-id="${question.id}" class="question-like" style="float: right" onclick="star(this)" th:value="${session.user.uid}">
                        <span th:class="${#lists.contains(questionStarsId,question.id)} ? 'glyphicon glyphicon-star ico question-liked' : 'glyphicon glyphicon-star-empty ico'" th:id="${'star-'+question.id}"><span style="font-size: 19px">收藏</span></span>
                        <span th:text="${question.star_count}" style="font-size: 19px;"></span>
                    </span>
                </div>
            </div>
<!--            发布人操作栏-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user != null && session.user.uid == question.creator}">
            <div>
                <a th:href="@{'/publish/'+ ${question.id}}" class="community-menu" th:if="${session.user != null && session.user.uid == question.creator}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑</a>
            </div>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
        <!--回复信息-->
            <div><h4><span th:text="${question.comment_count}" style="padding-left: 10px"></span>&nbsp条回复</h4></div>
            <div class="btn-group" role="group" aria-label="..." style="float: right">
                <button type="button" onclick=commentTime(this) th:value="${question.id}" class="btn btn-default">按时间排序</button>
                <button type="button" onclick=commentLike(this) th:value="${question.id}" class="btn btn-default">按喜欢数排序</button>
            </div>
        </div>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 50px;height: 50px;margin-top: 10px;margin-bottom: 10px" class="media-object img-rounded" src="https://tvax1.sinaimg.cn/thumbnail/007E7MVRly1h68twaikmyj30jt0juabj.jpg" alt="">
                    </a>
                </div>
                <div class="media-body" style="padding-left: 10px;padding-top: 13px" th:id="${'comment-body-' + comment.id}">
                    <h5 class="media-heading">
                        <span th:text="${comment.user.name}" style="font-size: 17px;"></span>
                    </h5>
                    <div th:text="${comment.content}"></div>
                    <div class="menu">

<!--                        未登录状态点赞-->
                        <span th:if="${session.user == null}" onclick="noLogin()" class="like">
                            <span class="glyphicon glyphicon-heart-empty ico"></span>
                            <span th:text="${comment.like_count}" style="font-size: 16px;"></span>
                        </span>
<!--                        登录状态点赞-->
                        <span th:if="${session.user != null}" th:data-id="${comment.id}" onclick="like(this)" th:value="${session.user.uid}" class="like">
                            <span th:class="${#lists.contains(likesId,comment.id)} ? 'glyphicon glyphicon-heart ico liked' : 'glyphicon glyphicon-heart-empty ico'" th:id="${'like-'+comment.id}"></span>
                            <span th:text="${comment.like_count}" style="font-size: 16px;"></span>
                        </span>

<!--                        回复-->
                        <span th:data-id="${comment.id}" onclick="collapseComments(this)" class="comments">
                            <span class="glyphicon glyphicon-comment ico"></span>
                            <span th:text="${comment.comment_count}" style="font-size: 16px;"></span>
                        </span>

                        <span class="pull-right"  th:text="${#dates.format(comment.gmt_create,'yyyy-MM-dd')}"></span>
                    </div>
<!--                       二级评论-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.id}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments">
                            <input type="text" class="form-control" placeholder="请输入评论..." th:id="${'input-'+comment.id}">
                            <button type="button" class="btn btn-success" style="margin: 10px 10px 0;float: right"
                                    onclick="comment(this)" th:data-id="${comment.id}">提交评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<!--           回复框-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
            <h3><span style="padding-left: 8px"></span>提交回复</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 50px;height: 50px;margin-top: 10px;margin-bottom: 10px" class="media-object img-rounded" src="https://tvax1.sinaimg.cn/thumbnail/007E7MVRly1h68twaikmyj30jt0juabj.jpg" alt="">
                    </a>
                </div>
                <div class="media-body" style="padding-left: 10px;padding-top: 20px">
                    <h5 class="media-heading">
                        <span th:if="${session.user} == null" >未登录</span>
                        <span th:if="${session.user} != null" th:text="${session.user.getName()}"></span>
                    </h5>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea class="form-control comment" rows="6" id="comment_content" placeholder="请输入回复..."></textarea>
            <button type="button" class="btn btn-success" style="margin: 10px 10px;float: right" onclick="post()">提交回复</button>
        </div>
    </div>


<!--        右边信息栏-->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br>
            <h3 style="margin-bottom: 20px">发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img style="width: 70px;height: 70px;" class="media-object img-circle" src="https://tvax1.sinaimg.cn/thumbnail/007E7MVRly1h68twaikmyj30jt0juabj.jpg" alt="">
                    </a>
                </div>
                <div class="media-body" style="padding-left: 10px;padding-top: 20px">
                    <h5 class="media-heading">
                        <span th:text="${question.user.name}" style="font-size: 20px"></span>
                    </h5>
                </div>
            </div>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-bottom: 20px">相关问题</h3>
            <ul class="question-related">
                <li th:each="related : ${similarQuestions}" style="line-height: 30px">
                    <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
</html>