<!DOCTYPE html>
<html lang="en">
<script src="/lib/jquery-3.6.1.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

<!--<script src="../static/lib/jquery-3.6.1.js"></script>-->
<!--<link rel="stylesheet" href="../static/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
<!--<script src="../static/js/bootstrap.min.js" type="application/javascript"></script>-->

<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container" style="width:auto;height: 1000px;background-image:url(https://tva1.sinaimg.cn/large/007E7MVRly1h5xyw0k6paj31s016oqv8.jpg);
background-size:1900px,1900px;background-repeat:no-repeat;z-index:1">
    <div style="width: 500px;margin: 100px auto 0 auto;height: 500px;border: 1px solid #ccc;
        border-radius: 5px;box-shadow:#ccc 0 0 10px;z-index:10;backdrop-filter: blur(3px)">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center" style="margin-top:100px;color: #ffffff;-webkit-text-stroke:1px #000000" >用户注册</h1>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-sm-offset-3">
                <form action="/insertUser" method="post">
                    <div class="form-group">
                        <label for="exampleInputName" style="color:#ffffff;">用户名：</label>
                        <input name="name" class="form-control" id="exampleInputName" placeholder="用户名" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber" style="color:#ffffff;">账号：</label>
                        <input name="number"  class="form-control" id="exampleInputNumber" placeholder="请输入账号" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" style="color:#ffffff;">密码：</label>
                        <input  type="password"  name="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" required>
                    </div>
                    <div class="clearfix"></div>
                    <button class="btn btn-info col-sm-4 col-sm-offset-2" style="margin-top:10px;left: 40px;"
                            type="submit">注册</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>