<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册结果</title>
</head>
<body>

<script>
    let pa = location.search.toString().split("=")
    let a =function (){
        if (pa[1]==="1"){
            alert("注册成功,请登录")
            window.location.replace("/login")
        } else if (pa[1]==="0"){
            alert("账号重复，注册失败，请重新注册")
            window.location.replace("/registration")
        }else if (pa[1]==="2"){
            alert("用户名重复，注册失败，请重新注册")
            window.location.replace("/registration")
        }else if (pa[1]==="3"){
            alert("密码不可小于6位，请重新设置密码")
            window.location.replace("/registration")
        }else if (pa[1]==="4"){
            alert("旧密码不正确，请重新设置密码")
            window.location.replace("/personal")
        }else if (pa[1]==="5"){
            alert("新密码不能小于6位，请重新设置密码")
            window.location.replace("/personal")
        }else if (pa[1]==="6"){
            alert("两次密码不一致，请重新设置密码")
            window.location.replace("/personal")
        }else if (pa[1]==="7"){
            alert("修改失败，请重新修改")
            window.location.replace("/personal")
        }else if (pa[1]==="8"){
            alert("新旧密码不能相同，请重新设置密码")
            window.location.replace("/personal")
        }else if (pa[1]==="9"){
            alert("设置成功，确定跳转至首页")
            window.location.replace("/")
        }else if (pa[1]==="10"){
            alert("修改成功，请稍等后即可看见新头像")
            window.location.replace("/")
        }else {
            alert("标题不能超过40个字")
            let r = pa.toString().split("&")
            let id = r[1]
            if (id === "0"){
                window.location.replace("/publish")
            }else {
                window.location.replace("/publish/"+id)
            }
        }
    }
    document.write(a());

</script>


</body>

</html>